.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vh;
  margin: 0;
}

.error-message {
  text-align: center;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.error-sign {
  color: red;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.invalid-url {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
